<div class="filter-input">
  {{input value=value
          key-up=(action 'handleFilterEntry')
          class="light"
          placeholder="Filter by keywords"}}
        </div>

  {{yield results}}
