<div class="jumbo">
  <div class="doudou">
    <h2>Me Myself & I.</h2>
    <label>{{input type="checkbox" checked=showLongMessage easing=[ 250, 15 ]}} Show me the other one</label>
  </div>
  <div id="liquid-spacer-demo">
    {{#liquid-spacer growDuration=250}}
      {{#if showLongMessage}}
        {{long-story}}
        {{else}}
        <br>
        <h3>Nice try, if you want the know me by the conventionnal way just click on the link below:</h3>
        <a target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-morisset-6a546465/">
          I want to know you by the conventionnal way
        </a>
      {{/if}}
    {{/liquid-spacer}}
  </div>
</div>
