<div class="jumbo">
  <div class="doudou">
    <h2>Me Myself & I.</h2>
    <label>{{input type="checkbox" checked=showLongMessage easing=[ 250, 15 ]}} Show me the other one</label>
  </div>
  <div id="liquid-spacer-demo">
    {{#liquid-spacer growDuration=250}}
      {{#if showLongMessage}}
        <br>
        <h3>Ok let's talk a bit..</h3>
        <br>
        <p>I'm living in Paris in the 18th distric, close to Montmartre. I grew up in Normandy and I travel a bit throughout France. Le Havre, Annecy, Paris..to my studies, mainly in marketing, I was graduated from business school in 2011.</p>
        <p>After 2/3 years of work and moove during 1 year in Toronto, Canada. Simply to improve my poor english and work as garde-manger, cooker and also as sales rep within wine industry.</p>
        <p>But I decided to come back to France and I work as sales rep...but definetly it wasn't for me (trust me !). So I make decision to launch my on tech product..buuuut I was not surrounded by developer, from this time I started to learn HTML/CSS as the first baby-step to learn code.</p>
        <p>But quickly I was falling in love with the magick from code and I decided to switch of job to make part of tech team. I studied at  <a target="_blank" href="https://www.lewagon.com/">
          Le Wagon Bootcamp
        </a>(Paris). After I worked over some small missions as Ruby dev..but my career really started when I start to work within <a target="_blank" href="https://www.captive.fr/">
          Captive Studio
        </a>  (my current job) as Ruby On Rails Developer.</p>
        <br>
        <h3>What I do after work.</h3>
        <br>
        <p>Graffiti: I am painting from my 16 years old. From wall to canvas I like to spend time to create, make colors and play with letters.</p>
        <p>Concert: Jump in concert. French Rap from 90's to 00 best music over the world..just after Gospel Church.</p>
        <p>Code: Yeah..To much sides projects started..and some Meetup.</p>
      {{else}}
        <br>
        <h3>Nice try, if you want the know me by the conventionnal way just click on the link below:</h3>
        <a target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-morisset-6a546465/">
          I want to know you by the conventionnal way
        </a>
      {{/if}}
    {{/liquid-spacer}}
  </div>
</div>
