<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1 class='ok'>
        <em>C.M</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "articles" class="menu-contact"}}
        Articles
      {{/link-to}}
      {{#link-to "gems" class="menu-gems"}}
        Gems
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{liquid-outlet}}
  </div>
</div>
