<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1 class='ok'>
        <em>C.M</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "articles" class="menu-contact"}}
        Articles
      {{/link-to}}
      {{#link-to "gemstorys" class="menu-gemstorys"}}
        Gems
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "email" class="menu-email"}}
        Contact
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{liquid-outlet}}
  </div>
</div>
<div class="menu">
  <p class='footer-content'>Coded by curiousity thanks to Ember.js & Rails API</p>
</div>
