<div class="jumbo">
  <h2>Get in touch.</h2>
  <p>Feel free to contact me..regardless of the reason.</p>
</div>
<div class='cocou'>
  <form>
    <div>
      {{paper-input class="flex-30" label="E-mail" type="email" value=emailEmail onChange=(action (mut emailEmail))}}
    </div>
    <div>
      {{paper-input textarea=true block=true label="Content" maxlength=500 passThru=(hash rows=5 maxRows=5)
  value=emailContent onChange=(action (mut emailContent))}}
    </div>
    <div>
      {{#paper-button raised=true onClick=(action "createEmail")}}Send{{/paper-button}}
    </div>
  </form>
  {{social-media}}
</div>
