<div class="jumbo">
  <h2>Gems.</h2>
  <p>Some gemstorys I am coded..Sadly just used by me.</p>
</div>
<ul class="results">
  {{#each model as |gemstory|}}
    <li class='article-card'>{{gemstory-listing gemstory=gemstory}}</li>
  {{/each}}
</ul>
